* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-weight: 300;
  font-size: 1.1rem;
  font-family: 'Helvetica';
  background-color: #5b6770;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100vh;
}

header {
  text-align: center;
}

main {
/*  width: 90vw;*/
/*  margin: 0 auto;*/
  padding: 30px 20px;
}

#map{
    
}

article {
  background-color: #f4f2f0;
  color: black;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

article:last-child {
  margin-bottom: 0;
}

article p {
  margin-top: 16px;
  line-height: 24px;
}

footer {
  /* text-align: center; */
  background-color: #dfdbd3;
  color: black;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b30738;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: #862633;
}

.logo {
  padding-top: 0.35rem;
  padding-right: 1rem;
  height: 45px;
  float: right;
}

.navbar {
  overflow: hidden;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.img-responsive {
    width: auto;
    height: 100px;
}
.img { 
   width:100px;
   height:100px;
   object-fit:scale-down;

}

.copyright {
  float: left;
  padding-top: 20px;
}

footer span {
  float: right;
  margin-right: 10px;
  padding: 0px 10px;
}
